include ../templates/includes/_head

nav.navigation


header.header
  h1.header__text #{title}

div.signup__container

  form.signup__form(action='' method='post')

    label.signup__label(for='firstName') First name:
    input.signup__input(type='text' id='firstName' name='firstName' placeholder='First ' +
    'name'
    autocomplete='on' required)

    label.signup__label(for='lastName') Last name:
    input.signup__input(type='text' id='lastName' name='lastName' placeholder='Last name'
    autocomplete='on' required)

    label.signup__label(for='email') Email:
    input.signup__input(type='email' id='email' name='email' placeholder='email@example.com'
    autocomplete='on' required)

    label.signup__label(for='password') New password:
    input.signup__input(type='password' id='password' name='password' placeholder='New Password'
    required)

    button.signup__button(type='submit') Create Account